<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12603288893-3mb7vnra0r9bd9001jvr2j95m7rkfno7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12603288893-3mb7vnra0r9bd9001jvr2j95m7rkfno7</string>
	<key>API_KEY</key>
	<string>AIzaSyCe_Fa9tlgr2aF7wporNmC9e8bxP-FD88g</string>
	<key>GCM_SENDER_ID</key>
	<string>12603288893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RealmMongoDB</string>
	<key>PROJECT_ID</key>
	<string>realmmongodb</string>
	<key>STORAGE_BUCKET</key>
	<string>realmmongodb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12603288893:ios:7607891d037675ea1d2954</string>
</dict>
</plist>